*,
html,
body {
  font-family: $template-font-family;
  font-weight: normal;
  line-height: $template-line-height;
  font-size: $template-font-size;
  color: $template-font-color;
  box-sizing: border-box;
}

body.fixed-scroll {
  overflow-y: hidden;
}

a {
  cursor: pointer;
}
