*,
html,
body {
  font-family: $template-font-family;
  font-weight: normal;
  line-height: $template-line-height;
  font-size: $template-font-size;
  color: $template-font-color;
  box-sizing: border-box;
}

// * {
//   border: 1px solid rgba(255, 0, 0, .4) !important;
// }

a {
  cursor: pointer;
}
