// Config
@import './config';
// Base
@import './base/fonts';
@import './base/mixins';
@import './base/variables';
@import './base/grid';
// Layout
@import './layout/core';
@import './layout/reset';

html {
  scroll-behavior: smooth !important;
}

.to-animate {
  opacity: 0;
  transform: translate3d(0, 64px, 0);
}

.fade-in-up {
  animation-duration: 600ms;
  animation-name: fadeInUp;
  animation-fill-mode: forwards !important;
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 64px, 0);
  }

  to {
    opacity: 1 !important;
    transform: translate3d(0, 0, 0);
  }
}
