// Variable config

$breakpoints: 'xl','l','m','s','xs';

$breakpoint-xl: '(min-width: 1440px)';
$breakpoint-l: '(max-width: 1280px)';
$breakpoint-m: '(max-width: 1024px)';
$breakpoint-s: '(max-width: 767px)';
$breakpoint-xs: '(max-width: 480px)';
