// Variables
$breakpoint-grid-l: 1280px;
$breakpoint-grid-m: 1024px;
$breakpoint-grid-s: 767px;
$breakpoint-grid-xs: 480px;

// Row
.row {
  display: flex;
  flex-direction: row;

  &.align-right {
    justify-content: flex-end;
  }

  &.align-center {
    justify-content: center;
  }

  &.align-spaced {
    justify-content: space-between;
  }

  &.align-right {
    justify-content: flex-end;
  }

  &.align-justify {
    justify-content: space-between;
  }

  &.align-top {
    align-items: flex-start;
  }

  &.align-middle {
    align-items: center;
  }

  &.align-bottom {
    align-items: flex-end;
  }

  &.align-stretch {
    align-items: stretch;
  }

  // Column
  @for $i from 1 through 12 {
    .col-#{$i} {
      flex-basis: (100% / 12) * $i;
      max-width: (100% / 12) * $i;
      padding: 8px;

      &.align-self-top {
        align-self: flex-start;
      }

      &.align-self-middle {
        align-self: center;
      }

      &.align-self-bottom {
        align-self: flex-end;
      }

      &.align-right {
        justify-content: flex-end;
        display: flex;
      }

      &.align-center {
        display: flex;
        justify-content: center;
      }
    }
  }
}

// Containers
.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  &-full {
    margin: 0 auto;
    max-width: 1440px;
    width: 100%;
    padding: 0 16px;
  }

  &-full-expand {
    margin: 0 auto;
    width: 100%;
  }

  &-l,
  &-m,
  &-s {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 0 64px;
  }

  &-l {
    max-width: 1312px;
    padding: 0 64px;
  }

  &-m {
    max-width: 1056px;
    padding: 0 64px;
  }

  &-s {
    max-width: 800px;
    padding: 0 64px;
  }
}

@media screen and (max-width: $breakpoint-grid-l) {
  .container {
    &-l {
      max-width: 1152px;
    }

    &-l,
    &-m,
    &-s {
      padding: 0 64px;
    }
  }
}

@media screen and (max-width: $breakpoint-grid-m) {
  .container {
    &-l,
    &-m,
    &-s {
      padding: 0 40px;
    }
  }
}

@media screen and (max-width: $breakpoint-grid-s) {
  .container {
    &-l,
    &-m,
    &-s {
      padding: 0 28px;
    }
  }
}

@media screen and (max-width: $breakpoint-grid-xs) {
  .container {
    &-l,
    &-m,
    &-s {
      padding: 0 16px;
    }
  }
}
