@mixin breakpoint($min: 0, $max: 0) {
  $type: type-of($min);

  @if $type == string {
    @each $breakpoint in $breakpoints {
      @if ($breakpoint == xl) {
        @if $min == xl {
          @media screen and #{$breakpoint-xl} {
            @content;
          }
        }
      }
      @if ($breakpoint == l) {
        @if $min == l {
          @media screen and #{$breakpoint-l} {
            @content;
          }
        }
      }
      @if ($breakpoint == m) {
        @if $min == m {
          @media screen and #{$breakpoint-m} {
            @content;
          }
        }
      }
      @if ($breakpoint == s) {
        @if $min == s {
          @media screen and #{$breakpoint-s} {
            @content;
          }
        }
      }
      @if ($breakpoint == xs) {
        @if $min == xs {
          @media screen and #{$breakpoint-xs} {
            @content;
          }
        }
      }
    }

  } @else if $type == number {
    $query: "all" !default;
    @if $min != 0 and $max != 0 {
      $query: "(min-width: #{$min}) and (max-width: #{$max})";
    } @else if $min != 0 and $max == 0 {
      $query: "(min-width: #{$min})";
    } @else if $min == 0 and $max != 0 {
      $query: "(max-width: #{$max})";
    }

    @media screen and #{$query} {
      @content;
    }
  }
}
