// Core styling
$template-color: #363542;
$template-background: #fff;

// Colors
$template-color-blue-default: #1072B8;
$template-color-blue-light: #5499CC;
$template-color-blue-lighter: #9FC7E3;

$template-color-red-default: #FC0D1B;
$template-color-red-light: #FD4852;
$template-color-red-lighter: #FE9EA4;

$template-color-green-default: #2DC57D;
$template-color-green-light: #57D197;
$template-color-green-lighter: #81DCB1;

$template-color-orange-default: #FD8E26;
$template-color-orange-light: #FD9B40;
$template-color-orange-lighter: #FEBB7D;

$template-color-black-default: #363542;
$template-color-black-light: #363542;
$template-color-black-lighter: #9C9BA1;

$template-color-white-default: #FFF;
$template-color-white-light: #EBEBEB;
$template-color-white-lighter: #F8F8F8;

// Shadows
$template-shadow-light: 0 4px 16px rgba($template-color-black-lighter, 0.24);
$template-shadow-dark: 0 4px 16px rgba($template-color-black-lighter, 0.46);

// Border
$template-border-radius: 2px;

// Body text
$template-font-family: 'Open Sans', sans-serif;
$template-line-height: 22px;
$template-font-size: 15px;
$template-font-size-m: 15px;
$template-font-size-s: 15px;
$template-font-weight: normal;
$template-font-color: $template-color-black-default;

// Headings
$template-font-size-h1: 28px;
$template-font-size-h1-m: 28px;
$template-font-size-h1-s: 24px;
$template-line-height-h1: 33px;
$template-line-height-h1-s: 28px;
$template-font-family-h1: 'Bitter', sans-serif;
$template-font-weight-h1: normal;
$template-font-color-h1: $template-color-blue-default;

$template-font-size-h2: 20px;
$template-font-size-h2-m: 20px;
$template-font-size-h2-s: 18px;
$template-line-height-h2: 27px;
$template-line-height-h2-s: 24px;
$template-font-family-h2: 'Open Sans', sans-serif;
$template-font-weight-h2: bolder;
$template-font-color-h2: $template-color-blue-default;

$template-font-size-h3: 15px;
$template-font-size-h3-m: 15px;
$template-font-size-h3-s: 15px;
$template-font-family-h3: 'Open Sans', sans-serif;
$template-line-height-h3: 33px;
$template-font-weight-h3: bolder;
$template-font-color-h3: $template-color-blue-default;
$template-font-letter-spacing-h3: 1px;

// Config variables
$breakpoints: 'xl','l','m','s','xs';

$breakpoint-xl: '(min-width: 1440px)';
$breakpoint-l: '(max-width: 1280px)';
$breakpoint-m: '(max-width: 1024px)';
$breakpoint-s: '(max-width: 767px)';
$breakpoint-xs: '(max-width: 480px)';
