// Core styling
$template-color: #000;
$template-background: #0000ff;

// General font styling
$template-font-family: Verdana, sans-serif;
$template-line-height: 1.6;
$template-font-size: 14px;
$template-font-size-m: 14px;
$template-font-size-s: 14px;
$template-font-weight: normal;
$template-font-color: #828282;

$template-font-size-h1: 30px;
$template-font-size-h1-m: 24px;
$template-font-size-h1-s: 22px;
$template-font-family-h1: Verdana, sans-serif;
$template-font-weight-h1: normal;
$template-font-color-h1: #828282;

$template-font-size-h2: 24px;
$template-font-size-h2-m: 22px;
$template-font-size-h2-s: 18px;
$template-font-family-h2: Verdana, sans-serif;
$template-font-weight-h2: normal;
$template-font-color-h2: #828282;

$template-font-size-h3: 22px;
$template-font-size-h3-m: 20px;
$template-font-size-h3-s: 18px;
$template-font-family-h3: Verdana, sans-serif;
$template-font-weight-h3: normal;
$template-font-color-h3: #828282;

// Link colors
$template-link-color: #97bf0d;
$template-link-color-hover: #97bf0d;
